/* line 5, ../sass/selector.scss */
.slwy-selector {
  position: absolute;
  display: none;
}
/* line 8, ../sass/selector.scss */
.slwy-selector .slwy-selector-title {
  height: 35px;
  width: 100%;
  background-color: #003b9f;
  color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 19, ../sass/selector.scss */
.slwy-selector .slwy-selector-dropdown {
  background-color: #fff;
  border: 1px solid #aaa;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 25, ../sass/selector.scss */
.slwy-selector .slwy-selector-dropdown .slwy-selector-search {
  margin: 10px 10px 0 10px;
}
/* line 27, ../sass/selector.scss */
.slwy-selector .slwy-selector-dropdown .slwy-selector-search input.slwy-selector-search-input {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABiElEQVQ4T5VTwVHDMBC81Yz0JamAUAFJBSQVEDqACiCPSJMX4Snl4VABdECoANOBS3AJ4evx+JgzVnAyDhn0Ost3e6u9PVDrJEnSK8vynpnHRDQkoh4RZcycK6We5/N52s6XGPHCez8F8NIUyfVn829AROdNnGmtJ7PZbBvraoCm+E1iZn4yxqzbSavVaszMSyK6EkbW2tEeQAghb7qMrLXZIc34HULYENE1M8+cc+v6Cd77BwCJdHbOSZejRzQqiiIHwNbafgTIAFxqrftt2sdQvPdLAI/MfOOc2yCEwCKYtVaUP3miXpHxvwEaQT/2AGTOzrmLk+1/JhY1q4UUBrWyACZdRjkEjflEVE8MkRIRpdbayV8sWn7ZaVYbKYQgMxULb4wxd13TiE5lZlRVNVwsFuKdXyu3qG0BCKDsgFh2KLsBYMrMX0qpaVVVPWNMKo12uxAtTUSvAM46nvKutb4tikLAxPb1XuwBtCwrmyidB0qptCzLPFJu3JiK+QSkE+DUOCOI5H0DvqbhpnSx/FYAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: 5px 5px;
  padding-left: 15px;
  width: 100%;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 5px 10px 5px 25px;
  box-sizing: border-box;
}
/* line 40, ../sass/selector.scss */
.slwy-selector .slwy-selector-dropdown .slwy-selector-options-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  overflow: auto;
}
/* line 48, ../sass/selector.scss */
.slwy-selector .slwy-selector-dropdown .slwy-selector-options-list li {
  padding: 5px 10px;
  font-size: 14px;
}
/* line 51, ../sass/selector.scss */
.slwy-selector .slwy-selector-dropdown .slwy-selector-options-list li.slwy-selector-option {
  cursor: pointer;
  position: relative;
}
/* line 54, ../sass/selector.scss */
.slwy-selector .slwy-selector-dropdown .slwy-selector-options-list li.slwy-selector-option .slwy-selector-option-right {
  position: absolute;
  right: 10px;
}
/* line 58, ../sass/selector.scss */
.slwy-selector .slwy-selector-dropdown .slwy-selector-options-list li.slwy-selector-option.slwy-selector-hover {
  background-color: #5897fb !important;
  color: #fff;
}
/* line 62, ../sass/selector.scss */
.slwy-selector .slwy-selector-dropdown .slwy-selector-options-list li.slwy-selector-option.slwy-selector-active {
  background-color: #e5ebf5;
}
/* line 68, ../sass/selector.scss */
.slwy-selector .slwy-selector-dropdown .slwy-selector-options-list li.slwy-selector-optgroup {
  font-weight: bold;
}
/* line 71, ../sass/selector.scss */
.slwy-selector .slwy-selector-dropdown .slwy-selector-options-list li.slwy-selector-option-disabled {
  cursor: default;
  color: #ccc;
}
/* line 75, ../sass/selector.scss */
.slwy-selector .slwy-selector-dropdown .slwy-selector-options-list li .slwy-selector-keyword {
  text-decoration: underline;
}
/* line 80, ../sass/selector.scss */
.slwy-selector .slwy-selector-dropdown .slwy-selector-options-list.slwy-selector-has-optgroup .slwy-selector-option {
  padding-left: 20px;
}
/* line 86, ../sass/selector.scss */
.slwy-selector.slwy-selector-opener {
  box-sizing: border-box;
  height: 30px;
  position: relative;
  display: inline-block;
  border: 1px solid #aaa;
  min-width: 150px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  font-size: 14px;
  padding: 5px 20px 5px 8px;
}
/* line 103, ../sass/selector.scss */
.slwy-selector.slwy-selector-opener:after {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAnElEQVQoU2NkIBEwkqiegXwNnZ2dBYyMjP3YbPz//39heXn5BJAc3IZVq1YxP3jw4CQDA4MxmqazCgoK5mFhYX9RNIA4PT09xv/+/QNpYoZq+svExGReUlJyFmYIhh+6urpAVudDFUwsKysrQLYRQ8PUqVN5vnz5ch2kiIeHRzM7O/sLXg0gyc7OzgAQXV5evgE9EMgPVmIjkGQbAM3XKw1uNWlcAAAAAElFTkSuQmCC");
  position: absolute;
  right: 10px;
}
/* line 109, ../sass/selector.scss */
.slwy-selector.slwy-selector-opener.slwy-selector-opener-expanded:after {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABiSURBVChTYxgioLOzMwCEoVz8YMqUKTxAxY9BGMSGCuMGXV1dE4D4PxRPgApjBz09PcZAk//ANIDYIDGoNCpYtWoVM1DBGSTTYZrOgOSgyhCgo6OjAF0xDIPkoMoGH2BgAAAVKUsRXG9xaAAAAABJRU5ErkJggg==");
}
